.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.modal__box__container {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  width: 45%;
}

.modal__box__text {
  max-width: 640px;
  text-align: center;
  padding: 20px;
}

.modal__box__close__btn {
  position: absolute;
  top: 2vw;
  right: 5vw;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 10;
}

.modal__box__close__btn:hover {
  opacity: 1;
}

.modal__box__close__btn:before,
.modal__box__close__btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: var(--secondary-color);
}

.modal__box__close__btn:before {
  transform: rotate(45deg);
}

.modal__box__close__btn:after {
  transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .modal__container {
    padding-top: 10vh;
  }

  .modal__box__container {
    width: 75%;
  }

  .modal__box__close__btn {
    margin-top: 5vh;
    width: 22px;
    height: 22px;
  }

  .modal__box__close__btn:before,
  .modal__box__close__btn:after {
    height: 22px;
  }
}
