@font-face {
  font-family: Mayeka Thin;
  src: url(../assets/fonts/mayeka-thin-demo.woff);
}

@font-face {
  font-family: SF Movie Poster;
  src: url(../assets/fonts/SF-Movie-Poster.ttf);
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root {
  --primary-color: #000;
  --secondary-color: #ffcf3d;
  --primary-rgba: rgba(0, 0, 0, 0.9);
  --secondary-rgba: rgba(255, 207, 61, 0.9);
  --plyr-color-main: #ffcf3d;
  --mdc-theme-primary: #000;
  --mdc-theme-secondary: #ffcf3d;
}

.mdc-drawer {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.mdc-drawer__content {
  /* height: calc(100% - 56px) !important; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mdc-list-item {
  color: var(--secondary-color) !important;
}

.mdc-list-item:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.mdc-top-app-bar__navigation-icon {
  color: var(--secondary-color) !important;
}

.mdc-top-app-bar__section > button:hover {
  background-color: transparent !important;
}

.mdc-top-app-bar__section--align-start {
  padding-left: 15px !important;
}

.rmwc-icon--url {
  cursor: pointer;
}

.mdc-snackbar__label {
  color: var(--secondary-color) !important;
}

.mdc-snackbar__actions {
  background-color: var(--secondary-color);
  opacity: 0.9;
  display: none !important;
}

.mdc-select__anchor {
  background-color: var(--primary-color) !important;
}

.mdc-select__selected-text {
  color: var(--secondary-rgba) !important;
}

.mdc-floating-label {
  color: var(--secondary-rgba) !important;
}

.rmwc-select__native-control {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.mdc-select__dropdown-icon {
  background: url('/assets/icons/dropdown_arrow.svg') no-repeat center !important;
}
